<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="EFDBContext" connectionString="Data Source=.;Initial Catalog=WBSDKERPDB;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <machineKey validationKey="04C54BCFB3FB7E1C03F0841BD084C908F0B0D63B58662D7D65FF10595C3A4F4680CAD2FED7B6594687B6912948298AF9869C2ED110E7F7441E92820940937AC6" decryptionKey="9DF2D730F7175BDF5A97257234E80B56CEB40CBCB501CD82A6A4638175DBB837" validation="SHA1" decryption="AES"/>
    <sessionState timeout="30"/>
    <!--<sessionState mode="InProc" timeout="30"></sessionState>-->
    <!--<customErrors mode="Off">
      <error statusCode="400" redirect="/Home/PageNotFound" />
      <error statusCode="401" redirect="/Home/Error?id=401" />
      <error statusCode="403" redirect="/Home/Error?id=403" />
      <error statusCode="404" redirect="/Home/PageNotFound" />
      <error statusCode="405" redirect="/Home/Error?id=405" />
      <error statusCode="406" redirect="/Home/Error?id=406" />
      <error statusCode="412" redirect="/Home/Error?id=412" />
      <error statusCode="500" redirect="/Home/Error?id=500" />
      <error statusCode="501" redirect="/Home/Error?id=501" />
      <error statusCode="502" redirect="/Home/Error?id=502" />
    </customErrors>-->
    <authentication mode="None"/>
    <!--<authentication mode="Forms">
      <forms loginUrl="/account/login" name=".ASPXFORMSAUTH" cookieless="UseCookies"  requireSSL="true" slidingExpiration="false" />
    </authentication>-->
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="100000" enableVersionHeader="false"/>
    <authorization>
      <deny verbs="OPTIONS" users="*"/>
      <deny verbs="TRACE" users="*"/>
      <deny verbs="HEAD" users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="private, no-store, no-cache, pre-check=0, post-check=0, must-revalidate"/>
        <add name="Pragma" value="no-cache"/>
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
        <remove name="X-Content-Type-Options"/>
        <!--<add name="X-Content-Type-Options" value="nosniff" />
        -->
        <!--<add name="X-XSS-Protection" value="1;mode=block" />-->
        <!--
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Referrer-Policy" value="SAMEORIGIN" />-->
        <!--<add name="Strict-Transport-Security" value="max-age=31536000"/>-->
        <!--<clear/>-->
      </customHeaders>
    </httpProtocol>
    <security>
      <!--<requestFiltering allowDoubleEscaping="true">
        <requestLimits maxUrl="10999" maxAllowedContentLength="1073741824" maxQueryString="1073741824" />
      </requestFiltering>-->
      <requestFiltering>
        <!--<requestLimits maxAllowedContentLength="1073741824" maxQueryString="1073741824" />-->
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
          <add verb="TRACE" allowed="false"/>
          <add verb="HEAD" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.Identity.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>